@model HayvanViewModel

@{
    ViewData["Title"] = "Anasayfa";
}

<h1>HAYVANAT BAHÇESİ</h1>

<div class="col-6">

    <form asp-action="Index" method="post" enctype="multipart/form-data">
        <div class="mb-2">
            <label asp-for="Ad"></label>
            <input asp-for="Ad" type="text" class="form-control" />
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Resim"></label>
            <input asp-for="Resim" type="file" class="form-control" />
            <span asp-validation-for="Resim" class="text-danger"></span>
        </div>
        <button class="btn btn-primary">Ekle</button>
    </form>
</div>

@* Listelemeyi burda ViewComponent ile yaptık *@
<vc:listele />

@section Scripts{
    <script>
        function sil(id) {
            let url = "@Url.Action("Sil", "Home")?id=" + id;

            Swal.fire({
                title:'Öğeyi silmek istediğinize emin misiniz?',
                text: "Bu dosya silindikten sonra geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'Hayır!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        success: function () {
                            window.location.href = url;
                        }
                    });
                }
            })
        }

        function duzenle(id) {
            let url = "@Url.Action("Duzenle", "Home")/" + id;


            Swal.fire({
                title: 'Yeni adı giriniz',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Güncelle',
                cancelButtonText: 'İptal',
                showLoaderOnConfirm: true,
                preConfirm: (girilenAd) => {

                    $.ajax({
                        success: function () {
                            window.location.href = url + "/" + girilenAd;
                        }
                    });
                }
                })
        }
    </script>
}