html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hayvanCard:hover{
    transform:scale(1.2);
    box-shadow: 0px 0px 25px 4px black;
    z-index: 1;
    opacity: 90%;
}

.hayvanCard {
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.4s;
}