html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    height:100%;
}

.hayvanCard:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 25px 4px black;
    z-index: 1;
    opacity: 90%;
}

.hayvanCard {
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.4s;
}

.icerik {
    margin-top: 65px;
    height:100%;
}

.foot {
    padding: 10px;
    position:absolute;
    bottom:0px;
    width:100%;
}

.validation-summary-errors > ul {
    margin-bottom: 0;
}
